body{
  background-image: url(https://i.playground.ru//i/screenshot/108443/fortnite.jpg);
}
li{
  display: inline-block;
  padding: 20px 40px
}
a{
  background-color: #00D7FF;
  border: 1px solid #00FF30;
  border-radius: 5px;
  font-size: 25px;
  padding: 5px 5px;
  text-decoration: none;
  color: #FFFA00;
}
a:hover{
  background-color: #008CFF;
  border: 1px solid #01FFD0;
  border-radius: 5px;
  font-size: 26px;
  padding: 5px 5px;
  text-decoration: none;
  color: #FFCC01;
}
.posts{
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 5px;
  text-decoration: none;
  color: blue;
  margin: 20px 20px;
}
.button{
  background-color: #00D7FF;
  border: 1px solid #00FF30;
  border-radius: 5px;
  font-size: 25px;
  padding: 5px 5px;
  text-decoration: none;
  color: #FFFA00;
}
.button:hover{
  background-color: #008CFF;
  border: 1px solid #01FFD0;
  border-radius: 5px;
  font-size: 26px;
  padding: 5px 5px;
  text-decoration: none;
  color: #FFCC01;
